@using Microsoft.AspNetCore.Identity
@using AdvertisingPortal.Core.Models.Domains
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="nav nav-pills">
@if (SignInManager.IsSignedIn(User))
{
        <li class="dropdown-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name</a>
    </li>
        <hr class="dropdown-divider">
        <li class="dropdown-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Wyloguj</button>
        </form>
    </li>
}
else
{
        <li class="dropdown-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Rejestracja</a>
    </li>
        <hr class="dropdown-divider">
        <li class="dropdown-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Logowanie</a>
    </li>
}
</ul>
